* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  line-height: 1.6;
  background-color: #F0EAD6;
  color: #333;
  font-family: Arial, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  /*background-image: url('../images/background.jpg');*/ /*do testowania kolorujtlo.js*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  flex: 1;
  padding: 0 30px;
}

header {
  background-color: #333;
  color: #f9a602;
  text-align: center;
}
header p{
  padding: 15px;
}

h1 {
  font-size: 2.5rem;
  color: #f9a602;
  margin-bottom: 20px;
  padding-top: 20px;
}

h2{
  font-size: 3rem;
  color: #f39c12;
  margin-bottom: 15px;
  text-align: center;
  padding-top: 20px;
}

h3{
  color: #f39c12;
  text-align: center;
  font-size: 2rem;
}

table {
  width: 70%;
  border-collapse: collapse;
  margin: 20px 0;
}

td,
th {
  padding: 15px;
  border: 1px solid #444;
  text-align: left;
  color: #e0e0e0;
}

tr {
  background-color: #2e2e2e;
}

tr > th {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #3a3a3a;
}

tr:nth-child(odd) {
  background-color: #2e2e2e;
}

nav {
  background-color: #2E4053;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav a {
  color: #f9a602;
  text-decoration: none;
}

li a {
  display: inline-block;
  color: #f9a602;
  text-align: center;
  padding: 26px 24px;
  text-decoration: none;
}

nav a:hover {
  background-color: #e67e22;
  border-radius: 4px;
}

form {
  background-color: #2c2c2c;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 8px;
  margin: 20px 0;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

form textarea {
  height: 200px;
  font-size: 20px;
}

form input[type="submit"] {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

form button {
  background-color: #f39c12;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #E67E22;
}

form label{
  color: #fff;
}

#javascript_form{
  float: left;
}

#javascript_form form, #javascript{
  width: 300px;
  float: left;
}

#javascript_block{
  float: left;
  margin: 20px;
}

#data{
  width: 300px;
  height: 200px;
  padding: 20px;
  margin: 20px;
  margin: 20px;
  background-color: #E67E22;
  line-height: 160px;
  text-align: center;
}

#zegarek{
  width: 200px;
  margin: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

span {
  font-weight: bold;
}

div {
  margin-bottom: 15px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.building {
  margin: 10px;
  text-align: center;
}

.gallery img {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
}

.building p {
  font-weight: bold;
  margin-top: 5px;
}

footer p {
  text-align: center;
  font-size: 12px;
  color: white;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #2E4053;
  padding: 15px;
}

/* jQuery */
.test-block {
  width: 200px;
  border: 2px solid rgba(71, 236, 30, 1);
  background: rgba(71, 236, 30, 0.7);
  text-align: center;
  color: #000;
  padding: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* jQuery animations */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* black background */
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px); /* blured page */
}

.building img {
  cursor: pointer;
}

/* FormularzLogowania() - PHP */
.logowanie {
  background-color: #f2f2f2;
  padding: 20px; 
  border-radius: 5px;
  max-width: 600px;
  margin: auto;
  color: black;
}
.heading {
  font-size: 24px;
  text-align: center;
}
.logowanie input {
  width: 100%; 
  padding: 10px;
  margin: 5px 0;
}

.logowanie input[type=submit]{
  cursor: pointer;
}

/* ListaPodstron() - PHP */
.btn_del, .btn_edit {
  color: blue;
  cursor: pointer;
  margin-left: 10px;
  padding: 0 20px;
  border: 1px solid black;
}
.btn_del{
  color: red;
}

/* PHP FORMS */
.subpage_form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}
